In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pythermalcomfort.models import set_tmp

In [103]:
df = pd.read_csv('CN_DB.csv')
df.head()

,suject_id,timestamp,season,city,climate,building_type,heating_type,gender,age,ht,...,clo,met,ta,rh,vel,tg,top,tr,t_out_min,latitude
0,1,1/30/19 10:35,Winter Season,HebeiHandan,Cold zone,Residential,Radiator heating,Female,18-30,170.0,...,1.10,1.0,21.5,32.0,0.0,20.9,20.8,20.9,-7.28,36.62
1,2,1/30/19 10:42,Winter Season,HebeiHandan,Cold zone,Residential,Radiator heating,Female,41-50,168.0,...,1.83,0.9,21.5,32.0,0.0,20.9,20.8,20.9,-7.28,36.62
2,3,1/30/19 10:45,Winter Season,HebeiHandan,Cold zone,Residential,Radiator heating,Male,41-50,170.0,...,1.36,0.9,21.5,32.0,0.0,20.9,20.8,20.9,-7.28,36.62
3,4,1/30/19 10:47,Winter Season,HebeiHandan,Cold zone,Residential,Radiator heating,Male,18-30,178.0,...,1.58,0.9,21.5,32.0,0.0,20.9,20.8,20.9,-7.28,36.62
4,5,1/31/19 20:20,Winter Season,HebeiHandan,Cold zone,Residential,Radiator heating,Male,18-30,174.0,...,1.38,0.9,20.9,33.0,0.0,19.8,20.0,19.8,-7.28,36.62

In [109]:
# group by city, using mean values
df_city = df.groupby('city').agg(
    records=('city', 'size'),
    thermal_sensation=('thermal_sensation', 'mean'),
    # thermal_comfort=('thermal_comfort', 'mean'),
    # thermal_acceptability=('thermal_acceptability', 'mean'),
    ta=('ta', 'mean'),
    top=('top', 'mean'),
    clo=('clo', 'mean'),
    latitude=('latitude', 'mean'),
).reset_index()

# calcualte the percentage of Radiator heating for each city and assign the value to df_city
df_city['p_heating'] = df_city['city'].apply(lambda x: df[df['city'] == x]['heating_type'].value_counts().get('Radiator heating', 0) / df[df['city'] == x]['heating_type'].count())

In [110]:
# resort the df_city by latitude
df_city = df_city.sort_values(by='latitude')
df_city

,city,records,thermal_sensation,ta,top,clo,latitude,p_heating
6,HainanSanya,5,0.600000,24.880000,24.880000,0.332000,18.25,0.000000
5,GuangdongGuangzhou,997,-0.013039,23.850150,23.876128,0.859910,23.13,0.000000
32,YunnanKunming,415,-1.154217,13.617108,13.617108,0.647133,24.87,0.000000
2,FujianFuzhou,7,-0.714286,18.100000,18.100000,0.351429,26.08,0.000000
4,FujianZhenjiang,2,-0.500000,22.900000,22.900000,0.305000,26.10,0.000000
3,FujianNanping,4,0.000000,17.900000,17.900000,0.417500,26.64,0.000000
18,HunanHengyang,1,-1.000000,16.900000,16.900000,0.660000,26.89,0.000000
17,HunanChangsha,1108,-0.396029,17.222563,17.413267,0.947500,28.23,0.000000
29,SichuanZigong,23,-0.217391,11.026087,11.026087,1.586522,29.34,0.000000
20,Lhasa,355,-1.095775,10.640845,10.640845,1.253380,29.65,0.005634
16,HubeiWuhan,526,-1.551331,12.633080,12.913118,1.880342,30.58,0.000000
27,Shanghai,2131,-0.051713,20.578461,20.837682,0.881595,31.23,0.000000
19,JiangsuChangzhou,144,0.347222,21.397222,20.514583,1.147847,31.78,0.000000
12,HenanNanyang,251,-0.406375,12.221116,12.221116,1.307530,32.99,0.000000
13,HenanPingdingshan,5,-0.800000,17.560000,17.560000,0.792000,33.74,0.200000
23,ShaanxiXi'an,1686,0.520996,23.028351,23.036833,0.730522,34.26,0.346975
11,HenanLuoyang,45,-0.177778,20.160000,19.040000,1.054444,34.62,0.000000
14,HenanZhengzhou,96,0.656250,23.519792,22.296875,1.193229,34.75,0.000000
10,HenanKaifeng,1,0.000000,13.000000,13.000000,0.420000,34.79,0.000000
9,HenanJiaozuo,888,-0.255631,16.798874,16.798874,1.188874,35.24,0.998874
25,ShandongXintai,3,0.333333,22.833333,22.833333,0.686667,35.90,1.000000
24,ShandongQingdao,1,1.000000,23.000000,23.000000,0.500000,36.07,1.000000
7,HebeiHandan,26,-0.384615,19.576923,19.300000,1.447692,36.62,1.000000
28,ShanxiLvliangfenyang,9,-0.222222,21.133333,21.133333,0.411111,37.51,1.000000
26,ShandongYantai,7,0.857143,25.671429,25.671429,0.804286,37.53,0.857143
22,LiaoningDalian,1703,0.293834,22.487551,22.459190,0.977962,38.92,0.758661
30,Tianjin,730,0.220548,24.564521,24.495068,0.813616,39.12,0.042466
1,Beijing,651,-0.027957,22.948541,22.066052,0.920568,39.90,0.758833
0,Baotou,303,0.016502,19.766997,19.277228,0.341782,40.65,0.000000
15,Hohhot,12,-0.333333,20.733333,20.733333,0.506667,40.82,1.000000
21,LiaoningBenxi,22,-0.136364,19.736364,19.736364,1.035455,41.29,0.045455
31,Turpan,283,-0.031802,18.206714,19.441343,1.422756,42.94,0.000000
8,HeilongjiangHarbin,3552,0.293300,23.085107,22.707995,0.923361,45.75,0.932432

In [94]:
# check Pingdingshan heating type
for i in ["HenanPingdingshan", "ShaanxiXi'an", "HenanLuoyang", "HenanZhengzhou", "HenanKaifeng"]:
    print(i)
    print(df[df['city'] == i]['heating_type'].value_counts())
    print("***************************************\n")

HenanPingdingshan
Naturally Ventilated    4
Radiator heating        1
Name: heating_type, dtype: int64
***************************************

ShaanxiXi'an
Radiant floor heating    594
Radiator heating         585
Convection heating       507
Name: heating_type, dtype: int64
***************************************

HenanLuoyang
Convection heating      43
Naturally Ventilated     2
Name: heating_type, dtype: int64
***************************************

HenanZhengzhou
Convection heating       92
Radiant floor heating     4
Name: heating_type, dtype: int64
***************************************

HenanKaifeng
Naturally Ventilated    1
Name: heating_type, dtype: int64
***************************************